<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyl.mapper.AdminMapper">
    <select id="selectAllAdmin" resultType="Admin">
        select * from admin
    </select>

    <select id="selectByAdminName" resultType="Admin">
        select * from admin where username = #{username}
    </select>

    <insert id="registerAdmin" parameterType="Admin">
        insert into admin(username,password) value (#{username},#{password})
    </insert>

</mapper>